@import './colors';
@import './typographie';
@import './variables';

@import '../../node_modules/csshake/scss/tools.scss';
:global(.shake-hard){
  @include do-shake('shake-hard', 20, 20, 7);
}

.container {
  position: fixed;
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  left: 0;
  top: $headerHeight;
  background-color: $contentBackground;
  overflow: auto;
}
