@import '../styles/elements';

.game-container {
  @extend .container;

  .game-header {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;

    .level {
      text-align: left;
    }

    .lives {
      flex: 1;
      text-align: right;
    }
  }

  button {
    @extend .button;
  }
}
