@import '../styles/elements';

.game-died-container {
  position: absolute;
  background: #fff;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;

  h1 {
    text-align: center;
  }

  button {
    @extend .button;
  }
}
