.game-board {
  width: 100%;
  height: 400px;
  flex-direction: column;
  display: flex;
  @media screen and (max-width: 460px) {
    flex-direction: row;
  }

  .game-board-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 460px) {
      flex-direction: column;
    }

    .game-board-cell {
      flex: 1;
      padding: 2px;

      .platform {
        margin: 0;
        width: calc(100% - 2px - 7px);
        height: calc(100% - 2px - 7px);
        padding: 5px;
        background: #CCC;
        border-radius: 3px;

        .player {
          border-radius: 5px;
          width: calc(100% - 8px);
          height: calc(100% - 8px);
          padding: 4px;
          background: #e67e22;

          .big-jump {
            background: #FFF;
            border-radius: 3px;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
