@import '../styles/elements';

.game-container {
  @extend .container;

  .game-header {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;

    .level {
      flex: 1;
      text-align: left;
    }

    .platform-count {
      flex: 2;
      text-align: center;
    }
  }

  .helptext {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background: #2ecc71;
    border: 2px solid #27ae60;
    color: #FFF;
  }

  button {
    @extend .button;
  }
}
